.part-member-office-combo {
  .members-office-count-2 .container {
    width: 50%;
    float: left;
  }

  .member-title {
    margin-top: 0;
  }

  .members-bucket-wrap {
  }

  .member-bucket {
  }

  .member-title {
  }

  .member-body {
  }

  .member-link {
  }

  .members-office-count-2 .container {
    width: 50%;
    float: left;
  }

  .office-title {
    margin-top: 0;
  }

  .office-bucket { }

  .office-title { }

  .office-body {
    margin-bottom: 10px;
  }

  .offices-bucket-wrap { }

  .office-phone,
  .office-fax {
    display: block;
  }

  .office-link { }
}