/* Begin Human Touch Module */

.ht-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ht-image img {
  border: 15px solid transparent;
}

/*.ht-image a:hover img { border-color: #428bca; }*/

#proc_sinuslift,
#proc_crownlengthening {
  width: auto;
}

@include media-breakpoint-down(xs) {
  .module {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* End Human Touch Module */